@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --linear-grad: linear-gradient(to right, #141E30, #243B55);
  --grad-clr1: #141E30;
  --grad-clr2: #243B55;
}

body {
  height: 100vh;
  background: #f1f0f2;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
}

h2,h2 span {
  font-size: 3rem;
}

h2 span {
  color: blue;
}

button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.1rem;
  background-color: rgb(7, 113, 219);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  transition: all ease 0.3s;
  border: 1px solid rgb(7, 113, 219);
}

button:hover {
  background-color: white;
  color:  rgb(7, 113, 219);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form > * {
  width: 50%;
}

input {
  padding: 5px;
  font-size: 1.1rem;
}