.accordion-item {
    position: relative;
    top: 20px;
    width: 100%;
    /* background-color: black; */
}

.accordion-title {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-title p {
    cursor: pointer;
}